body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.homeImg{
  background: url('https://a0.muscache.com/im/pictures/bb36473b-4c84-4c40-9468-dc9be329580f.jpg?im_w=960');
    background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 90vh;
      display: flex;
      flex-direction: column-reverse;
}
.roomHeader{
  background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 60vh;
}
.loginRow{
  margin-top: 30px;
}
.auth{
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.authButtons{
  display: flex;
    justify-content: center;
}
.roomTitle{
  justify-content: center;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px!important;
}
p.lead{
  font-size: 70px;
  margin: 0;
  padding: 0;
}

.dropDownButton{
  display: flex!important;
  border-radius: 20px!important;
}
.searchContainer{
  margin-top: 76px;
}

.searchBtn{
  border-radius: 20px!important;
    margin: auto!important;
    display: flex!important;
    cursor: pointer;
}
.searchBtn:hover{
  background: skyblue!important;
}
