body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #F7F7F7;
}
.roomHeader{
  background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 60vh;
}
.loginRow{
  margin-top: 30px;
}
.auth{
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.authButtons{
  display: flex;
    justify-content: center;
}
.roomTitle{
  justify-content: center;
}
.roomCard{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px!important;
  border-radius: 30px!important;
}

.dropDownButton{
  display: flex!important;
  border-radius: 20px!important;
}
.searchContainer{
  margin-top: 76px;
}

.searchBtn{
  border-radius: 20px!important;
    margin: auto!important;
    display: flex!important;
    cursor: pointer;
}
.searchBtn:hover{
  background: skyblue!important;
}
.exploreDesk{
  display: flex!important;
  flex-direction: column!important;
  height: 80px!important;
  justify-content: center!important;
}
.searchForm{
    flex-wrap: wrap!important;
}


.roomImg{
  border-radius: 30px;
}
.roomInstance{
  border-bottom: 2px solid lightgray;
}
.room-title{
  cursor: pointer;
  text-decoration: none;
}
.mapSearch{
  position: fixed;
}
.InspiredBg{
  background: url('https://a0.muscache.com/im/pictures/6d0fbe54-2813-48d8-b678-48da6634e4b7.jpg?im_w=960');
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading1{
  font-size: 68px;
}
.inspiredCard{
  border-radius: 30px!important;
}
.inspiredImg{
  border-radius: 0 0 30px 30px;
}
.inspiredCardbody{
  min-height: 170px;
}
.InspiredInstanceImage{
  background: url('https://a0.muscache.com/im/pictures/ac943446-9b73-41f5-8dbb-7a8bf02f6432.jpg?im_w=1200');
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.WishingBtn{
  font-size: 20px;
}
@media screen and (max-width: 600px){
  p.lead{
    font-size: 44px;
    margin: 0;
    padding: 0;
  }
  .airbnbDescription{
    font-size: 20px;
  }
  .searchForm{
    font-size: 12px!important;
    border: none;
    border-radius: 30px!important;
  }
}
